
/*  IMAGE CHECKBOX START */
 
input[type="checkbox"] {
    display: none;
  }

  label {
    border: 1px solid aqua;
    padding: 1px;
    display: block;
    position: relative;
    margin: 2px;
    cursor: pointer;
    background-color: aqua
  }
  
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #3f51b5;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
    z-index: 99;
  }
  
  label img {
    height: 100%;
    width: 100%;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked + label {
    border-color: #ddd;
  }
  
  :checked + label:before {
    content: "✓";
    background-color: #3f51b5;
    transform: scale(1);
  }
  
  :checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }

.groupItemParent{
  margin-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
} 

.groupItem{
  border-radius: 20px;
  border: 2px solid #3f51b5;
  width: 100%;
  height: 100%;
  padding: 10px;  
}

/*  IMAGE CHACKBOX END  */


#btnToTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
  width: 50px;
  height: 50px;
}

#btnSelectGroups {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: green; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}

#btnToTop:hover {
  background-color: #555; /* Add a dark-grey background on hover */
} 
