<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="selectedItems.length > 0" style="padding-left: 15px;">
  <p *ngIf="selectedItems.length == 1">You choose only {{selectedItems.length}} group! </p>
  <p *ngIf="selectedItems.length > 1">You choose {{selectedItems.length}} groups! </p>
  <!-- <pre>{{ selectedItems | json}}</pre> -->
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 groupItemParent" *ngFor="let group of excersizeGroups">
        <div class="groupItem">
          <input type="checkbox" id="{{group.id}}" (change)="changeSelectedItem($event)" />
          <label for="{{group.id}}"><img [src]="group.img" alt="{{group.name}}" title="{{group.name}}" /></label>
          <div class="padded-multiline">{{group.name}}</div>
        </div>
      </div>
  </div>
</div>

<input type="image" (click)="topFunction()" id="btnToTop" src="./assets/images/top.png">
<button (click)="selectGroups()" id="btnSelectGroups">Select</button>