<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/makeAPlan" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Make a Plan</span>
  </a>
  <a mat-list-item routerLink="/workoutHistory" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Workout History</span>
  </a>
  <a mat-list-item routerLink="/fillExercises" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Fill</span>
  </a> 
  <mat-list-item [matMenuTriggerFor]="menu" *ngIf="isAuthorized()">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Settings</a>
  </mat-list-item>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item (click)="onSidenavClose()">View profile</button>
    <!-- <button mat-menu-item (click)="onSidenavClose()">Add contact</button> -->
    <button mat-menu-item (click)="onSidenavCloseLogin()">Logout</button>
  </mat-menu>
</mat-nav-list>