<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">My Workout Plan</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/makeAPlan">Make a Plan</a>
            </li>
            <li>
                <a routerLink="/workoutHistory">Workout History</a>
            </li>
            <li>
                <a routerLink="/fillExercises">Fill</a>
            </li>
            <li *ngIf="isAuthorized()">
                <a [routerLink]="['/login']">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>